<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	
	<f:view>
		<h1><h:outputText value="Novo Contato"></h:outputText></h1>
	
	</f:view>
	
	<h:form>
	<h:panelGrid columns="3">
		
			<h:outputLabel value="Nome: " for="nome"/>
			<h:inputText required="true" id="inputNome" value="#{agendaBean.contato.nome}"/>
			<h:message for="inputNome" />
			
			<h:outputLabel value="Data de Nascimento: " for="dataNascimento"/>
			
			<h:inputText required="true" id="inputNome" value="#{agendaBean.contato.dataNascimento}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</h:inputText>
			
			<h:message for="sexo" />
			
			<h:message for="inputNome" />
			
			<h:commandButton value="Cadastrar" action="#{agendaBean.cadastrarContato}" />
		
	</h:panelGrid>
	
	</h:form>


</html>
