<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="conteudo">
	
		<h:link outcome="" value="Cadastrar contato"/><br/>
		<h:outputLink value="listarContatos.xhtml">Listar Contatos</h:outputLink>
		
	</ui:define>

</ui:composition>
