<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
	<title>Agenda JSF</title>
</head>

<body>

	<ui:insert name="cabecalho">
		<h2>Agenda com JSF</h2>
		<hr/>
	</ui:insert>
	
	<ui:insert name="conteudo">
		<h2>Por favor, sobrescreva aqui!</h2>
		<hr/>
	</ui:insert>
	
	<ui:insert name="rodape">
		<hr/>
		<p>Desenvolvido por Renan Barreto de Souza</p>
	</ui:insert>

</body>

</html>
